<!DOCTYPE html>
    <body>
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6">
                <p>YESYESYESYESYESYESYESYESYESYESYESYES</p>
            </div>
        </div>
    </body>
</html>