<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/mainPageFunctions.js"></script>
    <title>Test Website</title>

    <header class="navbar navbar-expand navbar-dark">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="http://danu7.it.nuigalway.ie:8601/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://danu7.it.nuigalway.ie:8601/aboutUs">About Us</a>
                </li>
            </ul>
        </div>
                <div class="btn-group col-7 d-block d-sm-none">
            <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">Login</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="@Bungee">
                        <div class="invalid-feedback" style="width: 100%;">Wrong username</div>
                     </div>
                </a>

                <a class="dropdown-item">
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <div class="input-group" id="show_hide_password">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <div class="invalid-feedback" style="width: 100%;">Wrong password</div>
                    </div>
                </a>

            </div>
        </div>
            <button type="button" id = "registerButton2" class="btn btn-danger" data-toggle="modal" data-target = "#modal">Sign Up</button>
        </div>
    </header>

</head>
  <body>
     {{{body}}}

  </body>
</html>