<section class = "get">
	<h1>Get Data</h1>
		<div>
		{{#each items }}
			<article class= "item">
				<div>Recipe Name: {{ this.rName }} </div>
				<div>Store Name: {{ this.sName }} </div>
				<div>Price: €{{ this.rPrice }} </div>
				<div><br><br></div>
			</article>
		{{/each}}
