body{
  background-color: rgb(255, 255, 255) !important;
}

.navbar{
  text-emphasis-color:white;
  background-color: rgb(51, 16, 83);
}

.sidebar{
   background-color: rgb(239, 238, 238, 1);
}

.primary{
  background-color: rgba(255, 255, 255, 0.116);
}

#howItWorks{
  background-color: rgb(255, 254, 254);
}

.jumbotron{
  background-color: rgb(255, 238, 238)!important;
}

.acc-btn {
position: absolute;
  width: 500px;
  text-align: center;
  font-size: 50px;
   color: white;
  background-color: gray;
  border-color: white;
  top:60px;
}
.form-horizontal-reg{
  position: absolute;
  width: 500px;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: rebeccapurple;
  border-color: white;
  left: 50%;
  top: 50px;
}
.regh{
  position: absolute;
  font-size: 30px!important;
  color: black;
  left: 50%;

}

.form-horizontal{
  position: absolute;
  width: 500px;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: rebeccapurple;
  border-color: white;
  top: 50px;
}